.section{
    margin-bottom: 2em;
}

.center-block {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    height: 100vh;
}

.col {
    padding-bottom: 1em;
}

.form-label-group {
    padding: 2em;
    background-color: #f0f0f0;
}

#SWLogo {
    width: 50%;
}