#App{
    padding: 2em;
    display: none;
    grid-template-rows:1fr min-content;
    height: 100vh;
}

.section{
    margin-bottom: 2em;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.col {
    padding-bottom: 1em;
}

.form-label-group {
    padding: 2em;
    background-color: #f0f0f0;
}

#SWLogo {
    width: 50%;
}